.hidden{
    color: transparent;
}
.ocultar { 
  display: none;
}
.visible-flex {
  display: flex;
}
body{
    background-color: gray;
    color: white;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wordContainer {
  margin-top: 20px;
}
h1{
 position: relative;
 text-align: center;
}



.letter {
  margin: 0 7px;
  position: relative;
  text-align: center;
}


.letter::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  min-width: 12px;
}


#startButton {
  margin-top: 10px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 300px;
  padding: 10px;
  background: #d95d39;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
img{
   position: fixed;   
  bottom: 0;             
  width: 500px;      
}
.custom-select {
  margin-top: 0px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 300px;
  padding: 10px;
  background: #d95d39;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center; 
  align-items: center;
}
#returnButton {
  margin-top: 20px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 300px;
  padding: 10px;
  background: #5c5c5c; 
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
#returnFromHistoryButton {
  margin-top: 20px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 300px;
  padding: 10px;
  background: #5c5c5c; 
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper {
  
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}
.category-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
#historyButton {
  margin-top: 10px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 300px;
  padding: 10px;
  background: #5c5c5c; 
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
